$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

$color-dark-cyan: hsl(185, 75%, 39%);
$color-desaturated-blue: hsl(229, 23%, 23%);
$color-grayish-blue: hsl(227, 10%, 46%);
$color-neutral: hsl(0, 0%, 59%);

$font-size: 18px;

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
