// variables according to style guide

$color-main-background: hsl(233, 47%, 7%);
$color-card-background: hsl(244, 38%, 16%);
$color-violet: hsl(277, 64%, 61%);
$color-violet-2: hsla(277, 84%, 38%, 0.52);
$color-main-white: hsl(0, 0%, 100%);
$color-white-1: hsla(0, 0%, 100%, 0.75);
$color-white-2: hsla(0, 0%, 100%, 0.6);
$font-size-default: 15px;
$font-main: "Inter", sans-serif;
$font-stats: "Lexend Deca", sans-serif;
$width-mobile: 375px;
$radius: 10px;

// reset
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}

html {
  font-size: $font-size-default;
}

body {
  background-color: $color-main-background;
  // max-width: $width-mobile;
}

.card {
  // width: 90vw;
  width: $width-mobile;
  margin: 4rem auto;
  border-radius: $radius;

  &__img {
    height: 300px;
    background-image: linear-gradient(
        $color-violet-2,
        $color-violet-2
      ),
      url("./images/image-header-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  &__info {
    background-color: $color-card-background;
    font-family: $font-main;
    text-align: center;
    padding: 3rem 4rem 2rem 4rem;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  &__info--heading {
    color: $color-main-white;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;

    span {
      color: $color-violet;
    }
  }
  &__info--paragraph {
    color: $color-white-1;
    line-height: 1.75;
    margin-bottom: 2rem;
    font-weight: 400;
    // font-size: 0.75rem;
    // padding: 0.25rem;
  }
  &__stats {
    &--heading {
      margin-bottom: 0.5rem;
      color: $color-main-white;
    }
    &--text {
      font-family: $font-stats;
      margin-bottom: 1.2rem;
      font-size: 0.8rem;
      color: $color-white-2;
      text-transform: uppercase;
    }
  }
}

.attribution {
  font-size: 0.75rem;
  font-family: $font-main;
  color: $color-white-2;
  text-align: left;
  margin-left: 0.2rem;
  p {
    padding: 0.1rem;
  }

  a {
    text-decoration: none;
    color: $color-violet;
  }
}
